/* Sets the maximum width of the contact section to the full width of the viewport and a fixed width of 1440px. 
   It also applies auto margins for centering. */
.contactSection{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Styles the container holding contact information or forms and maps. It has auto margins for centering, 
   padding for the left and right, and a maximum width set. */
.contactContainer{
    padding-left: 16px;
    padding-right: 16px; 
    margin-left: auto;
    margin-right: auto; 
    max-width: 768px; 
}

.contactHeader {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #181A1E;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.contactText{
    text-align: center;
    size: 16px;
    margin-top: 20px;   
    font-weight: 400;
    color: #262626;
    font-family: 'Open Sans', sans-serif;
}

/* Styles for form labels */
.formLabel {
    color: var(--textColor); 
    font-weight: 600; 
    font-size: 16px; 
    line-height: 1.75rem; 
    margin-bottom: 0.5rem;
}

/* Styles for form inputs */
.formInput {
    width: 100%; 
    padding: 0.75rem 1rem; 
    border: 1px solid #0066ff61; 
    color: #262626;; 
    font-size: 16px; 
    line-height: 1.75rem; 
    outline: none; 
    cursor: pointer; 
    border-radius: 10px; 
}

/* Styles for the placeholder text within the form. */
.formInput::placeholder {
    color: grey;
}

/* Styles applied to the form input fields when they are focused by the user. */
.formInput:focus {
    border-color: #00358461; 
}

/* Applies bottom margin to all child elements within the .contactForm except the last child element. */
.contactForm > *:not(:last-child) {
    margin-bottom: 20px; 
}


/* Styles for the submit button within the contact form */
.contactSubmitButton{
    background-color: #866BFF;
    border-radius: 50px;
    display: flex;
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 21px;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 40px; 
    margin-bottom: 20px;
    width: 100%;

    &:hover {
        background-color: #08CAAD;
    }
}

/* Style for the main grid container */
.gridContainer {
    display: grid;
    max-width: 100%;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 30px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 55px;
    }

  /* Style for the nested grid within the second column */
    .nestedGrid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* two equal-width columns */
        gap: 10px; /* space between grid items */
    }
}

