
/* General styling for the FAQ container */
.faqContainer{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

/* Styling for the inner container of the FAQ section */
.faqInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 130px;
    }

    @media (min-width: 1200px) {
        gap: 0px;
    }
}

/* Styling for the container holding the FAQ image */
.faqImgContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    z-index: 10;
    order: 2; 


    @media (min-width: 1024px) {
        width: 30%;
        order: 1;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }
}

/* Styling for the FAQ image */
.faqImg {
    border-radius: 10%;
    margin-left: 10px;
    transform: scale(1.1);
}

/* Styling for the container of the FAQ header */
.faqHeaderContainer{
    width: 100%;
    order: 1;
    margin-right: 10px;
    
    @media (min-width: 1024px) {
            width: 70%;
            order: 2;
    }
        
    @media (min-width: 1200px) {
            width: 70%;
    }
}

/* Styling for the FAQ header text */
.faqHeader {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #181A1E;
    text-align: center;
}

/* General styling for the FAQ section */
.faqSection {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;

}

/* Styling for each FAQ item */
.faqItem {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;

    &:hover {
        background-color: #f7f7f7;
    }
}

/* Styling for the FAQ question part */
.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.faqIcon {
    font-size: 1.5em;
}

.faqAnswer {
    margin-top: 10px;
}
