
 /* Styles the main header text of the form */
.formHeader{
    color: #181818;
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
    margin-bottom: 10px;
}

/* Styles the star rating buttons */
.starButton{
    all: unset;
    cursor: pointer;
    margin: 0 1.5px;
}

/* Styles the star icons when they are active or hovered (gold color) */
.color-yellow .feedbackStar {
    color: gold;
}

/* Default style for the star icons */
.color-grey .feedbackStar {
    color: grey;
}

/* Styling for the star icons on hover or focus */
.starButton:hover .feedbackStar, 
.starButton:focus .feedbackStar {
    color: gold; 
}

.feedbackStar {
    font-size: 25px;
}

/* Styling for the header above the feedback text area */
.feedbackBoxHeader{
    color: #181818;
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Styles the text area where users can put their feedback */
.messageBox{
    border-style: solid; 
    border-color: black; 
    outline: none; 
    outline: 2px solid var(--primary-color); 
    width: 100%; 
    padding-left: 16px;
    padding-right: 16px; 
    padding-top: 12px;
    padding-bottom: 12px; 
    border-radius: 12px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Styles for the submit button */
.submitFormButton{
    background-color: #866BFF;
    border-radius: 50px;
    display: flex;
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 10px;

    &:hover {
        background-color: #08CAAD;
    }
}