/* Styling for the footer section */
.footerSection{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #fff2e8, white, #fff4d2);
}

/* Container for the entire footer */
.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .footerContainer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Styling for each inner container in the footer */
.footerInnerContainer {
    margin-bottom: 20px;
}

/* Responsive styling for inner containers */
@media (min-width: 768px) {
    .footerInnerContainer {
        margin-bottom: 0;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/* Styling for the copyright text */
.footerCopyright{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #262626;
}

/* Styling for social media icons */
.socialIcons{
    color: #866BFF;
    width: 24px;
    height: 20px;


    &:hover {
        color: #08CAAD;
    }
}

/* Container for social media icons */
.footerIcons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

/* Styling for link containers within the footer */
.footerInnerContainerLinks{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) { 
    .flex-container {
        flex-direction: row;
    }
}

/* Styling for individual footer links */
.footerLinkWrapper{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;

    &:hover {
        color: #08CAAD;
    }
}