/* Styling for the overall hero section */
.heroSection{
    padding-top: 60px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, #fff2e8, white, #fff4d2);

    @media (min-width: 1440px) {
        .heroSection {
            height: 80px;
        }
    }
}
/* main container styling for hero section */
.heroContainer{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Styling for the inner container of the hero section */
.heroInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;

    @media (min-width: 1024px) {
        flex-direction: row;
    }

}

/* responsive styling for the container of the hero image */
.heroImgContainer {
    position: relative;
    width: 100%; 
    z-index: 10;
    order: 1; 
    text-align: center;

    @media (min-width: 1024px) {
        width: 40%;
        order: 2;
    }

    @media (min-width: 1200px) {
        width: 40%;
    }
}

.heroImg{
    border-radius: 10%;
}

/* styling for the header container in the hero section */ 
.heroHeaderContainer{
    width: 100%;
    order: 2;
    margin-right: 10px;
    
    @media (min-width: 1024px) {
            width: 70%;
            order: 1;
    }
        
    @media (min-width: 1200px) {
            width: 70%;
    }
}

/* Styling for counter section */
.counterSection{
    margin-top: 30px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (min-width: 992px) {
    .counterSection{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}

/* Styling for the counter content */
.counterContent{
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
    color: #181A1E;
    margin-left: 10px;
    flex-direction: row;
}

.counterUnderlineOne{
    width: 100px;
    height: 8px;
    background-color: #08CAAD;
    border-radius: 9%;
    display: block;
    margin-top: -14px;
    margin-left: 10px;
}

.counterUnderlineTwo{
    width: 100px;
    height: 8px;
    background-color: #6EADFF;
    border-radius: 9%;
    display: block;
    margin-top: -14px;
    margin-left: 10px;

}

.counterUnderlineThree{
    width: 100px;
    height: 8px;
    background-color: #ffd06b;
    border-radius: 9%;
    display: block;
    margin-top: -14px;
    margin-left: 19px;

}

/* Styling for the counter text */
.counterText{
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #262626;
    margin-top: 18px;
}

/* Styling for the hero header */
.heroHeader {
    font-size: 50px;
    line-height: 54px;
    font-weight: 700;
    color: #181A1E;
    text-align: center;
}

/* Styling for the hero text */
.heroText{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #262626;
    margin-top: 20px;     
    text-align: center;
}

.linkWrapper{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styling for the request appointment button */
.requestButton{
    background-color: #866BFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 21px;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 30px; 
    margin-left: 10px;
    
    &:hover{
        background-color: #08CAAD;
    }
}

/* Styling for the how section container */
.howSectionContainer{
    margin-top: 90px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the how header */
.howHeader{
    text-align: center;
    color: #181A1E;
    font-size: 44px;
}

/* Styling for the how text */
.howText{
    text-align: center;
    margin-top: 20px;
    color: #262626;
    font-size: 18px;
}

/* Styling for the container holding icons in the how section */
.howIconsContainer{
    display: grid;
    max-width: 100%;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 30px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 55px;
    }
    
    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

/* Styling for each inner container in the how section */
.howInnerContainer{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.howIcon1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.howIcon2{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
}

.howIcon3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconHeader{
    margin-top: 30px;
    text-align: center;
}

.iconHeaderContents{
    font-size: 26px;
    line-height: 1.35;
    color: #181A1E;
    font-weight: 700;
    text-align: center;
}

.iconTextContents{
    font-size: 16px;
    line-height: 1.07;
    color: #262626;
    font-weight: 400;
    margin-top: 4px;
    text-align: center;
}

/* Styling for the arrow container */
.arrowContainer{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #181A1E;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffd06b;
    color: black;

    &:hover {
    background-color: #6EADFF;
    border: none;
    }
}

.arrowIcon{
    width: 35px;
    height: 35px;

    &:hover {
        color: white;
    }
}

/* This styling block defines the overall container for the About section */
.aboutContainer{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

/* defines the styling for the inner container of the About section */
.aboutInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 130px;
    }

    @media (min-width: 1200px) {
        gap: 0px;
    }
}

/* defines the container for the About section image */
.aboutImgContainer {
    position: relative;
    width: 100%; 
    z-index: 10;
    order: 2; 
    text-align: center;

    @media (min-width: 1024px) {
        width: 30%;
        order: 1;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }
}

.aboutImg {
    border-radius: 10%;
    margin-left: 10px;
}

.aboutHeaderContainer{
    width: 100%;
    order: 1;
    margin-right: 10px;
    
    @media (min-width: 1024px) {
            width: 70%;
            order: 2;
    }
        
    @media (min-width: 1200px) {
            width: 70%;
    }
}

.aboutHeader {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #181A1E;
    text-align: center;
}

.aboutText{
    text-align: center;
    margin-top: 20px;   
    font-weight: 400;
    color: #262626;
}

.linkWrapper{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styling for the learn more  button */
.learnMoreButton{
    background-color: #866BFF;
    border-radius: 50px;
    display: flex;
    color: white;
    font-weight: 500;
    padding: 6px 20px;
    font-size: 21px;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 40px; 

    &:hover {
        background-color: #08CAAD;
    }
}

/* stlyes the overall container for the Services section */
.servicesSection{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.servicesHeaderContainer{
    margin-top: 90px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.servicesHeader{
    text-align: center;
    color: #181A1E;
    font-size: 44px;
}

.servicesText{
    text-align: center;
    margin-top: 20px;   
    font-weight: 400;
    color: #262626;
    font-size: 18px;
}

.servicesLinkWrapper{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;

    &:hover {
        color: #08CAAD;
    }
}

/* styling block defines the container for the individual service offerings */
.servicesOfferedContainer{
    display: grid;
    max-width: 100%;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-top: 20px;

    @media (min-width: 768px) {
        gap: 30px;
        margin-top: 55px;
    }
    
    @media (min-width: 992px) {
        gap: 30px;
    }
}

.servicesInnerContainer{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/* styles the overall container for the Feature section */
.featureSection{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

/* defines styling for the inner container of the Feature section */
.featInnerContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 130px;
    }

    @media (min-width: 1200px) {
        gap: 0px;
    }
}

/* styles the container for the Feature section image */
.featImgContainer {
    position: relative;
    width: 100%; 
    z-index: 10;
    order: 1; 
    text-align: center;

    @media (min-width: 1024px) {
        width: 30%;
        order: 2;
    }

    @media (min-width: 1200px) {
        width: 30%;
    }
}

.featImg {
    border-radius: 10%;
}

.featHeaderContainer{
    width: 100%;
    order: 2;
    margin-right: 10px;
    
    @media (min-width: 1024px) {
            width: 70%;
            order: 1;
    }
        
    @media (min-width: 1200px) {
            width: 70%;
    }
}

.featHeader {
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    color: #181A1E;
    text-align: center;
}

.featText{
    text-align: center;
    margin-top: 20px;   
    font-weight: 400;
    color: #262626;
}

.featListWrapper{
    list-style-type: none;
}

.featTextList{
    text-align: center;
    margin-top: 5px;   
    font-weight: 400;
    color: #262626;
}

/* styles the background and positioning for the appointment card */
.appointmentCard {
    width: 280px;
    background-color: #FAF7EE;
    position: absolute;
    bottom: 40px;
    z-index: 20;
    padding: 4px;
    border-radius: 15px;
}

.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardInnerContainer{
    display: flex;
    align-items: center;
    gap: 6px;
}

/* styles the date on the appointment card  */
.cardTextDate{
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
    color: #262626;
}

.cardTextTime{
    font-size: 16px;
    line-height: 14px;
    color: #6EADFF;
}

/* styles the mock type of pratitioner on the appointment card  */
.cardTextType{
    background-color: #08CAAD;
    border-radius: 4px;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
}

/* styles the container for the image on the appointment card */
.cardImgContainer{
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 1px 6px;
    margin-right: 6px;
}
