.testimonialSection{
    max-width: 100%;
    width: 1440px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.testimonialHeaderContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.testimonialHeader{
    text-align: center;
    color: #181A1E;
    font-size: 44px;
}

.testimonialText{
    text-align: center;
    margin-top: 20px;   
    font-weight: 400;
    color: #262626;
    font-size: 18px;
}

.swiperSection{
    margin-top: 30px;
    
    @media (min-width: 1024px) {
        margin-top: 55px;
    }
    
}

.swiperContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.75rem;
}

.swiperInnerContainer{
    display: flex;
    align-items: center;
    gap: 13px;
}

.swiperIcon{
    transform: scale(1.1);
}

.swiperHeader{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #181A1E;
}

.swiperStars{
    display: flex;
    align-items: center;
    gap: 2px;
}